{
	"extends": ["van-gogh", "van-gogh/import", "van-gogh/prettier"],
	"rules": {
		"react/jsx-no-bind": ["error", {
			"ignoreDOMComponents": true,
			"ignoreRefs": false,
			"allowArrowFunctions": true,
			"allowFunctions": true,
			"allowBind": false
		}],
		"react/function-component-definition": [
			"error",
			{
				"namedComponents": "arrow-function"
			}
		]
	}
}
